.task-row {
	display: flex;
}
.task-row:hover {
	background: #0000ff08;
}
.task-row > *:not(:first-child) {
	/* first-child is priority */
	padding: 1rem;
	align-self: center;
}
.task-row__title,
.task-row__edit-view {
	display: flex;
	flex-grow: 1;
	text-align: left;
}
.task-row__priority {
	width: 12px;
}
.task-row__edit-view > * {
	flex-grow: 2;
}
.task-row__edit-view .task-row__priority {
	flex-grow: 1;
}

.task-row.done {
	opacity: .5;
}
.task-row.done .task-row__title {
    text-decoration: line-through;
}
.task-row.done .task-row__actions-edit-view,
.task-row.done .edit-action {
	display: none;
}