.task-row__priority.NONE {
	background: #80808078;
}
.task-row__priority.LOW {
	background: #00800078;
}
.task-row__priority.MEDIUM {
	background: #ffff0078;
}
.task-row__priority.HIGH {
	background: #ff000078;
}
.MuiMenuItem-root.priority-4 {
	color: #808080;
}
.MuiMenuItem-root.priority-3 {
	color: #008000;
}
.MuiMenuItem-root.priority-2 {
	color: #ffff00;
}
.MuiMenuItem-root.priority-1 {
	color: #ff0000;
}
