.task-row__actions {
	display: flex;
	z-index: 1;
}
.task-row__actions > * {
	cursor: pointer;
	font-size: 20px;
}
.task-row__actions > *:not(:last-child),
.task-row__actions-edit-view > *:not(:last-child) {
	margin-right: .5rem;
}
.task-row__actions .delete-action {
	color: red;
}
.task-row__actions .edit-action {
	color: gray;
}
